<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- 기본 css -->
<link rel="stylesheet" type="text/css"
	href="/grade_score/css/new_main.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./resources/js/validation.js"></script>


<title>성적확인 페이지</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h3 class="display-2">중간, 기말 성적확인 페이지 </h3>
		</div>
	</div>
	<div class="container">
        {% block content %}{% endblock %}
	</div>
</body>
</html>